<% provide(:title, 'Help') %>

<h1>Help</h1>
<p>Get Help on the ROR tutuorial at <a href="http://railstututorial.org/help">the Rails Tuts help page</a> To get help on the sample app, see the <a href="http://.google.com"> google website.</a> /p>

